body
{
    background-image: url(../assets/images/cutcube_@2X.png);
}

.navbar-brand
{
    background-color: #4aaaa5;
    padding: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.container
{
    width: 960px;
    margin-top: 20px;
    background-color: #eee;
    overflow: auto;
}

h2
{
    color: #4aaaa5;
    border-bottom: 4px solid lightgrey;
}

p
{
    margin-top: 5px;
    font-size: 18px;
}

.form-group
{
    margin-top: 10px;
}

.form-row
{
    margin-top: 10px;
}

.card-deck
{
    background-color: #eee;
    overflow: auto;
}

.card-body
{
    width: 100%;
}

.footer
{
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #666;
    border-top: 8px solid #4aaaa5;
}

span
{
    padding-left: 48%;
    color: #eee;
}